@import "variables";
@import "mixins";
@import "normalize";
@import "layout";
/* Components */
@import "components/form_field";

/* Sections */
@import "sections/registration_form";

/* Pages / Views */
@import "pages/registration";

* {
    box-sizing: border-box;
    font-family: $openSans;
}

.row:before,
.row:after {
    content: "";
    display: table;
    clear: both;
}

body {
    padding: 10px;
    text-align: center;
}

[class*="Icon"] {

    max-width: 100%;
    background-color: transparent;
    border: 0px solid transparent;
    border-radius: 4px;
}

.scoreboard-placement {
    margin: 0px 15px 0px 15px;
    border-top: 1px solid lightgrey;
    text-align: center;
}

.scoreboard-row {
    font-size: 18px;
    display: inline-block;
}

#playerWins {
    margin-right: 40px;
}

#playerLosses {
    margin-left: 40px;
}

.fa {
    font-size: 70px;
    color: black;
    padding: 10px 50px 50px 50px;
    margin-top: 40px;
    transition: color .3s, background-color .3s;
    cursor: pointer;
    outline: 0 !important;
    touch-action: manipulation;
    user-select: none;

    &:hover,
        {
        color: #0984e3;
        background-color: #fff;
        transform: scale(1.5);
    }
}