@import "variables";
@import "mixins";
@import "normalize";
@import "layout";
/* Components */
@import "components/form_field";

/* Sections */
@import "sections/registration_form";

/* Pages / Views */
@import "pages/registration";

* {
  box-sizing: border-box;
  font-family: $openSans;
}

.row:before,
.row:after {
  content: "";
  display: table;
  clear: both;
}

body {
  padding: 10px;
  margin: 0 auto;
  height: 100vh;
  text-align: center;
  padding: 5%;
  background: radial-gradient(#b2ebf2 50%, #00bcd4);
  background-repeat: no-repeat;
}

[class*="Icon"] {

  max-width: 100%;
  background-color: transparent;
  border: 0px solid transparent !important;
  border-radius: 4px;
  outline: none;

}

.scoreboard-placement {
  margin: 0px 15px 0px 15px;
  //border-top: 1px solid lightgrey;
  text-align: center;
}

#scoreboard div > p {
  padding: 5px;
  border: 1px dashed black;
}

.scoreboard-row {
  font-size: 18px;
  display: inline-block;
}

.fa {
  font-size: 70px;
  color: black;
  padding: 10px 50px 50px 50px;
  margin-top: 40px;
  transition: all .2s ease-in-out; 
  cursor: pointer;
  outline: none;
  touch-action: manipulation;
  user-select: none;
  border-color: transparent !important;

  &:hover {
    color: rgba(0,0,0, 0.5);
    background: transparent;
    transform: scale(1.5);
  }
}

#newGame {
  background-color: #000;
  color: #fff;
  border: 0px;
  outline: none;
  margin-top: 15px;
  border-radius: 30px;
  box-shadow: 3px 4px 13px 1px rgba(0,0,0,0.75); 
  transition: all 0.3s ease-out;
  &:hover{
    background-color: #fff;
    color: #000;
  }
}

.displayNone {
  display: none;
}

#output {
  padding-bottom: 20px;
  font-size: 18px;
}

#result {
  padding-bottom: 30px;
  font-size: 35px;
  font-weight: bold;
}

/* table, td, th {
  border: 1px solid black;
}

table {
  border-collapse: collapse;
  width: 100%;
}

th {
  height: 50px;
} */


table{
  width:100%;
  table-layout: fixed;
  
}
.tbl-header{
  background-color: #000;
 }
.tbl-content{
  height:150px;
  overflow-x:auto;
  margin-top: 0px;
  border: 1px solid rgba(255,255,255,0.3);
}
th{
  padding: 20px 15px;
  text-align: left;
  font-weight: 500;
  font-size: 12px;
  color: #fff;
  text-transform: uppercase;
}
td{
  padding: 10px 15px;
  text-align: left;
  vertical-align:middle;
  font-weight: 300;
  font-size: 12px;
  color: black;
  border-bottom: solid 1px black;
}


.overlay1 { display: none; position: fixed; top: 0; left: 0; width: 100%; height: 100%; background: rgba(0, 0, 0, 0.7); border-radius: 55px; }

.overlay1.show { display: block; }

.modal1 { display: none;     background: rgba(255,255,255, .8); width: 500px; position: absolute; top: 0%; left: 50%; transition: transform 1.5s ease-in-out; transition-delay: 3.5s;  }

.modal1.show { display: block; transform: translate3d(-50%, 70%, 0); }

.modal1 .close1 { position: absolute; right: 0; top: 0; padding: 5px; color: #000; text-decoration: none; }

.modal1 header { font-size: 20px; line-height: 30px; min-height: 30px; font-weight: bold; padding: 0 30px; }

.modal1 .content1 { min-height: 30px;}


.bounce-in-right {
  -webkit-animation: bounce-in-right 1.1s both;
  animation: bounce-in-right 1.1s both;
}

/* ----------------------------------------------
 * Generated by Animista on 2018-9-17 22:6:28
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation bounce-in-right
 * ----------------------------------------
 */
@-webkit-keyframes bounce-in-right {
  0% {
    -webkit-transform: translateX(600px);
    transform: translateX(600px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
    opacity: 0;
  }

  38% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
    opacity: 1;
  }

  55% {
    -webkit-transform: translateX(68px);
    transform: translateX(68px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }

  72% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }

  81% {
    -webkit-transform: translateX(32px);
    transform: translateX(32px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }

  90% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }

  95% {
    -webkit-transform: translateX(8px);
    transform: translateX(8px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }

  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
}

@keyframes bounce-in-right {
  0% {
    -webkit-transform: translateX(600px);
    transform: translateX(600px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
    opacity: 0;
  }

  38% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
    opacity: 1;
  }

  55% {
    -webkit-transform: translateX(68px);
    transform: translateX(68px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }

  72% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }

  81% {
    -webkit-transform: translateX(32px);
    transform: translateX(32px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }

  90% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }

  95% {
    -webkit-transform: translateX(8px);
    transform: translateX(8px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }

  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
}

.flicker-in-1 {
  -webkit-animation: flicker-in-1 2s linear both;
  animation: flicker-in-1 2s linear both;
}

/* ----------------------------------------------
 * Generated by Animista on 2018-9-17 23:0:53
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * @animation flicker-in-1
 * ----------------------------------------
 */
@-webkit-keyframes flicker-in-1 {
  0% {
    opacity: 0;
  }

  10% {
    opacity: 0;
  }

  10.1% {
    opacity: 1;
  }

  10.2% {
    opacity: 0;
  }

  20% {
    opacity: 0;
  }

  20.1% {
    opacity: 1;
  }

  20.6% {
    opacity: 0;
  }

  30% {
    opacity: 0;
  }

  30.1% {
    opacity: 1;
  }

  30.5% {
    opacity: 1;
  }

  30.6% {
    opacity: 0;
  }

  45% {
    opacity: 0;
  }

  45.1% {
    opacity: 1;
  }

  50% {
    opacity: 1;
  }

  55% {
    opacity: 1;
  }

  55.1% {
    opacity: 0;
  }

  57% {
    opacity: 0;
  }

  57.1% {
    opacity: 1;
  }

  60% {
    opacity: 1;
  }

  60.1% {
    opacity: 0;
  }

  65% {
    opacity: 0;
  }

  65.1% {
    opacity: 1;
  }

  75% {
    opacity: 1;
  }

  75.1% {
    opacity: 0;
  }

  77% {
    opacity: 0;
  }

  77.1% {
    opacity: 1;
  }

  85% {
    opacity: 1;
  }

  85.1% {
    opacity: 0;
  }

  86% {
    opacity: 0;
  }

  86.1% {
    opacity: 1;
  }

  100% {
    opacity: 1;
  }
}

@keyframes flicker-in-1 {
  0% {
    opacity: 0;
  }

  10% {
    opacity: 0;
  }

  10.1% {
    opacity: 1;
  }

  10.2% {
    opacity: 0;
  }

  20% {
    opacity: 0;
  }

  20.1% {
    opacity: 1;
  }

  20.6% {
    opacity: 0;
  }

  30% {
    opacity: 0;
  }

  30.1% {
    opacity: 1;
  }

  30.5% {
    opacity: 1;
  }

  30.6% {
    opacity: 0;
  }

  45% {
    opacity: 0;
  }

  45.1% {
    opacity: 1;
  }

  50% {
    opacity: 1;
  }

  55% {
    opacity: 1;
  }

  55.1% {
    opacity: 0;
  }

  57% {
    opacity: 0;
  }

  57.1% {
    opacity: 1;
  }

  60% {
    opacity: 1;
  }

  60.1% {
    opacity: 0;
  }

  65% {
    opacity: 0;
  }

  65.1% {
    opacity: 1;
  }

  75% {
    opacity: 1;
  }

  75.1% {
    opacity: 0;
  }

  77% {
    opacity: 0;
  }

  77.1% {
    opacity: 1;
  }

  85% {
    opacity: 1;
  }

  85.1% {
    opacity: 0;
  }

  86% {
    opacity: 0;
  }

  86.1% {
    opacity: 1;
  }

  100% {
    opacity: 1;
  }
}

@media (max-width: 767px) {
  #scoreboard {
    >div:nth-of-type(1) {

      // text-align: right;
      // margin-left:100px;
      >p {
        >#wins {
          display: block;
        }

      }
    }

    >div:nth-of-type(2) {

      //text-align: center;
      //margin-right: -100px;
      // margin-left: -100px;
      >p {
        >#draws {
          display: block;
        }

      }
    }

    >div:nth-of-type(3) {

      >p {
        >#losses {
          display: block;
        }
      }
    }
  }

  .fa {
    font-size: 45px;
    padding: 10px 25px 50px 25px;

  }
}

@media (min-width: 768px) {
  #scoreboard {
    >div:nth-of-type(1) {
      text-align: right;
      margin-left: 50px;
    }

    >div:nth-of-type(2) {
      text-align: center;
      margin-right: -50px;
      margin-left: -50px;
    }

    >div:nth-of-type(3) {
      text-align: left;
    }
  }
}

@media (min-width: 992px) {
  #scoreboard {
    >div:nth-of-type(1) {
      text-align: right;
      margin-left: 80px;
    }

    >div:nth-of-type(2) {
      text-align: center;
      margin-right: -80px;
      margin-left: -80px;
    }

    >div:nth-of-type(3) {
      text-align: left;
    }
  }
}